
# PostgreSQL
POSTGRES_PASSWORD=docker-test
POSTGRES_USER=docker-test

# General settings
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_ADMIN_URL=django-admin
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=H0f(kpbm-X7E-zs%Ab?|i-;?#9Sih_|u`0pSV-qWdx:mhMDjC&
DJANGO_ALLOWED_HOSTS=["xn------dddfnxoenlfghchl4bitc.xn--90ais"]

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY="key-dd620439de76b59928886c56a04fa57c"
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN="sandbox476f4c9b31dc4618af94ffb1fa3d7c58.mailgun.org"

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
# Sentry
#DJANGO_SENTRY_DSN="https://56bb387ee6ef4e7bb513862157edac13:516039c011914079a7b3c4d36bd6fe2b@sentry.io/158504"

DJANGO_OPBEAT_ORGANIZATION_ID="febc334200f745f5bc2e2a997bffb7cc"
DJANGO_OPBEAT_APP_ID="b56d477e53"
DJANGO_OPBEAT_SECRET_TOKEN="110d38ff51fb6b3bf4cfb15a1062133038dba7b1"

COMPRESS_ENABLED=True

VIRTUAL_HOST="xn------dddfnxoenlfghchl4bitc.xn--90ais"

