{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <h1>{{ user.username }}</h1>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

  <form class="form-horizontal" method="post" action="{% url 'create' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Добавить врага в картотеку</button>
      </div>
    </div>
  </form>
{{ form.media }}
{% endblock %}
